<div class="container">
  <div>
    <ng-template #showItems>
      <ul class="wish-list">
        @for (item of items; track item ) {
        <li>
          <div class="form-check">
            <label class="form-check-label"
              ><input
                class="checkbox"
                type="checkbox"
                [checked]="item.isCompleted"
              />{{ item.wishText }}</label
            >
          </div>
        </li>
        }
      </ul>
    </ng-template>

    @if (items.length === 0) {no wishes to display} @else {
    <ul class="wish-list">
      @for (item of items; track item ) {
      <li>
        <div class="form-check">
          <label class="form-check-label"
            ><input
              class="checkbox"
              type="checkbox"
              [checked]="item.isCompleted"
            />{{ item.wishText }}</label
          >
        </div>
      </li>
      }
    </ul>
    }
  </div>
</div>
